* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "poppins", "sans-serif";
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
}
p {
  font-size: 1.6rem;
  line-height: 1.6;
}
section {
  padding: 5rem 0;
}
.container {
  width: 100%;
  max-width: 120rem;
  /* height: 100%; */
  margin: 0 auto;
  padding: 0 2.5rem;
}
/* variables */
:root {
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);
  --gray: hsl(0, 0%, 75%);
  --dark-grey: #eff1f7;
  --grayish-violet: hsl(260, 7%, 50%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 24%);
  --white: #fff;
}
/* utility classes */
.u-mb-small {
  margin-bottom: 1.6rem;
}
.u-mb-medium {
  margin-bottom: 3rem;
}
.u-mb-large {
  margin-bottom: 5rem;
}
/* ----------header section */
/* ----------header section */
/* ----------header section */

header {
  width: 100%;
  height: 7.5rem;
  padding: 2.5rem 0;
  background-color: var(--dark-violet);
  position: relative;
}
.logo {
  height: 3.5rem;
  margin-right: 3rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  flex-grow: 1;
}
nav ul li {
  list-style: none;
  padding: 0 0.5rem;
}
nav ul li a,
.login a:first-child {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--white);
  transition: 0.3s;
}
.login a:first-child {
  margin-right: 1.5rem;
}
nav ul li a:hover,
.login a:hover:first-child {
  color: var(--cyan);
}
.u-login {
  display: none;
}
/* button */
.btn {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  background-color: var(--cyan);
  padding: 1rem 2rem;
  color: var(--white);
  border-radius: 5rem;
  opacity: 1;
  transition: 0.3s;
}
.btn:hover {
  opacity: 0.8;
  background-color: black;
  color: var(--cyan);
}

/* ******** INTRO SECTION */
/* ******** INTRO SECTION */
/* ******** INTRO SECTION */

.intro-section {
  background-color: var(--white);
  padding-bottom: 10rem;
  overflow: hidden;
}

.intro {
  display: flex;
  justify-content: space-between;
}
.intro-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.intro-text h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 6rem;
  color: var(--dark-violet);
}
.intro-text h1 span {
  display: block;
}
.btn-large {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.2rem 3.5rem;
}
.intro-image {
  width: 45%;
}

/* *****INPUT ABOUT AND FEATURE SEECTIONS */
/* *****INPUT ABOUT AND FEATURE SEECTIONS */
/* *****INPUT ABOUT AND FEATURE SEECTIONS */

.input-section{
  background-color: var(--dark-grey);
}

.input-box{
  background-color: var(--dark-violet);
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem;
  background-image: url(./images/bg-shorten-desktop.svg);
  border: 1px solid transparent;
  border-radius: .5rem;
  transform: translateY(-50%);
}
.input-box form{
  display: flex;
  justify-content: center;
  width: 100%;
}
.input-box form input{
  padding: 1.5rem;
  font-size: 1.6rem;
  font-family: 'Poppins', 'sans-serif';
  width: 80%;
  border: transparent;
  border-radius: .5rem;
  margin-right: 2rem;
  outline: none;
}
.input-box form .link-button{
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
  width: 20%;
  background-color: var(--cyan);
  border: transparent;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  padding: 1.5rem;
}

/* ******ABOUT SECTION */
/* ******ABOUT SECTION */
/* ******ABOUT SECTION */
.about{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.about h2{
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-violet);
}






/* ************* MEDIA QUERRIES */
/* ************* MEDIA QUERRIES */
/* ************* MEDIA QUERRIES */

/* TABLET SIZED DEVICES */
@media screen and (max-width: 985px) {
  /* *(*******INTRO SECTION */
  .intro-text {
    width: 50%;
  }
  .intro-text h1 {
    font-size: 4.5rem;
    line-height: 4.5rem;
  }
}

/* MOBILE RESPOINSIVE QUERRIES */

@media screen and (max-width: 626px) {
  header {
    height: 9rem;
  }
  .logo {
    margin: 0;
  }
  .login {
    display: none;
  }

  nav {
    display: block;
    text-align: center;
  }
  nav ul {
    justify-content: center;
  }
  .u-login {
    display: inline;
  }

  /* ************INTRO SECTION */
  .intro {
    flex-direction: column-reverse;
  }
  .intro-image {
    padding-bottom: 4rem;
  }
  .intro-text {
    display: block;
    width: 100%;
    text-align: center;
    padding: 4rem 0;
  }
}
