* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* height: 100%; */
}
.container {
    padding: 1rem;
    width: 100%;
    height: 100vh;
  background-color: #ccc;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 1rem;
  color: #ccc;
}
#display{
    grid-column: span 3;
    background-color: rgb(49, 91, 49);
    align-content: center;
    text-align: right;

}
.numbers{
    background-color: rgb(29, 29, 137);
    /* height: 100px; */
    align-content: center;
    text-align: center;
}